# Entornos virtuales
venv/
env/

# PostgreSQL
*.pid
*.log
/postgres_data/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Instance
instance/config.py

# Environment variables
.env
.venv

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/
