body {
    background: linear-gradient(to bottom, #bb7b43, #724628);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenedor principal */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Caja del formulario */
.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Título */
.login-title {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 20px;
}

/* Inputs */
.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.form-label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
}

/* Botón */
.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #5a4c45;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #3b2f2a;
}
